@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>

@{
  Layout = "default.cshtml";
}

  <header>
  <div class="head-inner">
    <h1>Dev things I like :)</h1>
  </div>
  </header>

  <div class="fancy-container lightblue">

    <h2>Web Dev Stuffz</h2>
    <ul>
      <li><a href="http://icomoon.io/">Icomoon</a></li>
      <li><a href="http://vorillaz.github.io/devicons/">Dev Icons</a></li>
      <li><a href="http://microjs.com/>Microjs</a></li>
    </ul>

    <h2>Web Dev read/watch List</h2>
    <ul>
      <li><a href="https://github.com/bolshchikov/js-must-watch">JS Must Watch</a></li>
    </ul>
  </div>
