---
layout: default
---
<div id="post">
    <h1>{{ page.title }}</h1>
    <div class="post-note">
      Posted {{ page.date | date_to_long_string }}
      {% if page.category != "" %}
        | <a href="/category/{{ page.category | downcase | replace: ' ', '-' }}">{{ page.category }}</a>
      {% endif %}
      
      <div style="float:right">
        <span class="st_twitter"></span>
        <span class="st_facebook"></span>
        <span class="st_googleplus"></span>
        <span class="st_email"></span>
        <span class="st_sharethis"></span>
      </div>
    </div>
    
    {{ content }}

    <div id="disqus_thread"></div>
    <script>
        var disqus_shortname = 'philliphaydon';
        var disqus_url = "http://www.philliphaydon.com{{ page.url }}";

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    
    <script>var switchTo5x=true;</script>
    <script src="http://w.sharethis.com/button/buttons.js"></script>
    <script>stLight.options({publisher: "ur-f0d955d3-1346-e14c-937c-99bdd7d25d97"});</script>
</div>